.site-branding{
		padding: 30px 0;
		@extend %clearfix;
		.site-title{
			float:left;
			margin:0;
			font-size: 2em;
			line-height: 48px;
			font-weight: $font__weight-bold;
			font-family: $font__family-headings;
			text-transform: uppercase;
		}
		.site-description{
			float:right;
			margin: 0;
			line-height: 48px;
		}
}