.main-navigation {
	display: block;
	float: left;
	a:hover,
	a:focus {
		text-decoration: none;
	}
	ul {
		@extend %clearfix;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@media screen and (min-width: 37.5em) {
			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				left: -999em;
				z-index: 99999;
				background-color: #fff;
				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					min-width: 200px;
					white-space: nowrap;
				}

				:hover > a,
				.focus > a,
				a:hover,
				a.focus {
					text-decoration: none;
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
				display:block;
			}


		}

		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */

.menu-toggle{
	display: block;
	padding: 9px 10px;
	margin: 10px 0; 
	.icon-bar {
		background-color: #444;
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}
	.icon-bar+.icon-bar {
		margin-top: 4px;
	}
}



.main-navigation.toggled{

	display: block;
	float:none;

	ul{
		display: block;
		float:none;
	}

	li{ 
		display: block;
		float:none;
	}

	li a{
		padding: 1.25em;
		border-bottom:1px solid #ededed;
	}

}



@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;


	}
	.main-navigation{


		.nav-menu{
			display: block;
			a{
				padding: 1.5em;
			}
			> li:not(:last-child) > a{
				&:after {
					content: '|';
					position: absolute;
					right: 0;
					color: black;
					top: 48%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
